
.right_column_text #galery_description {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 25px;
	color: #0099cb;
	font-size: 16px;
}

.center_content>.left_column {
	float: left; 
	min-width: 320px;
	max-width: 320px;
}

.center_content>.right_column {
	float: left; 
	width: 480px;
}
